<table class="table table-hover">
    <tr>
        <td width="70px">
            <h3> {{ video.title }} </h3>
            <p> {{ video.timestamp }} </p>
        </td>
    </tr>
    <tr>
        <td>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="{{ video.url }}" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </td>
    </tr>
</table>