{% extends 'base.html' %}

{% block cssLinks %}
    {{ super() }}
    <!-- Custom CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/about.css') }}">
{% endblock %}

{% block title %} About CAT TV {% endblock %}

{% block header %}
    <div class="container header">
        <h1>Cat TV</h1>
        <p>Entertainment for cats everywhere</p>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <h2>
             Why Cat TV?
        </h2>
        <p>
            Cat TV provides indoor cats with enrichment to prevent boredom from not being able to hunt outdoors.
        </p>
        <br />
        <h2>
            Why should I keep my cat indoors?
        </h2>
        <p>
            It is dangerous for cats to be outside due to traffic, predators and other threats. Outdoor cats are harmful to the environment.
        </p>
    </div>
{% endblock %}