{% extends 'base.html' %}

{% block title %} Cat TV - Birds {% endblock %}

{% block content %}
    
    <div class="container">
        <h2>
            Cats love birds
        </h2>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/xbs7FT7dXYc" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

{% endblock %}


